:root {
    --cor-fundo: #ff8da1;
    --cor-fundo-2: #c11c85;
    --cor-forms: #ff13f0;
    --cor-texto: #fadaf5;
    --cor-erro: #c60404;
    --cor-sucesso: #11c604;
}

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva
    Verdana, sans-serif;
}

header {
    width: 100%;
    text-align: center;
    padding-top: 70px; /* Dá um espaço do topo da tela */
}

h1#titulo {
    font-size: 35px;
    color: var(--cor-texto);
    margin-bottom: 10px;
    text-align: center;      
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5%;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    padding: 3%;
    gap: 1%;
    border-radius: 10%;
    box-shadow: 10px 10px 15px rgba(48, 0, 37, 0.342);
    background-color: var(--cor-fundo-2);
    margin-top: auto;
    margin-bottom: auto;
}

#form-login{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}
#form-login input{
    padding: 5px;
    border: solid var(--cor-texto);
}
#form-login button{
    border: solid var(--cor-texto);
}
#form-login button:hover{
    background-color: var(--cor-texto);
}

.toggle{
    text-align: center;
    margin-top: 10px;
    cursor:pointer;
    color: var(--cor-texto);
}

.erro{
    color: var(--cor-erro);
    font-size: 12px;
    text-align: center;
}

.sucesso{
    color: var(--cor-sucesso);
    font-size: 12px;
    text-align: center;
}