:root {
    --cor-fundo: #ff8da1;
    --cor-fundo-2: #c11c85;
    --cor-forms: #ff13f0;
    --cor-texto: #fadaf5;
    --cor-erro: #c60404;
    --cor-sucesso: #11c604;
}

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva
    Verdana, sans-serif;
}

h1{
    font-size: 40px;
    color: var(--cor-texto);
    margin-bottom: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5%;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

main{
    padding: 3%;
    gap: 1%;
    border-radius: 10%;
    box-shadow: 10px 10px 15px rgba(48, 0, 37, 0.342);
    background-color: var(--cor-fundo-2);
}

#form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#form-login input{
    padding: 5px;
    border: solid var(--cor-texto);
}
#form-login button{
    border: solid var(--cor-texto);
}
#form-login button:hover{
    background-color: var(--cor-texto);
}
#pantera {
    position: absolute;  
    top: 197px;           
    right: 238px;          
    display: flex;
    width: 400px;        
    height: auto;
    margin: 0;           
}
.toggle{
    text-align: center;
    margin-top: 10px;
    cursor:pointer;
    color: var(--cor-texto);
}

.erro{
    color: var(--cor-erro);
    font-size: 12px;
    text-align: center;
}

.sucesso{
    color: var(--cor-sucesso);
    font-size: 12px;
    text-align: center;
}


